body {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/*.imageCycle1{*/
    /*background-image: url("1.gif");*/
/*}*/

/*.imageCycle2 {*/
    /*background-image: url("2.gif");*/
/*}*/

h1 {
    font-size: 300px;
    color: white;
    display: inline-block;

    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}